# Pandas practice

Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [2]:
import pandas as pd

In [3]:
def to_array(x):
    print(pd.Series(x))
    return(pd.Series(x))

In [4]:
conor = [1,2,3]
ethan = to_array(conor)

0    1
1    2
2    3
dtype: int64

Write a Python program to convert a Panda module Series to Python list and it's type

In [5]:
def to_list(x):
    return(x.to_list(),x.dtype)
conorone, t = to_list(ethan)
print(t)
print(conorone==conor)

int64
True

Write a Python program to add, subtract, multiple and divide two Pandas Series

In [6]:
def ops(x,y):
    return(x+y,x-y,x*y)
aseries = to_array([4,5,6])

0    4
1    5
2    6
dtype: int64

In [7]:
print(ops(conor,aseries))

(0    5
1    7
2    9
dtype: int64, 0   -3
1   -3
2   -3
dtype: int64, 0     4
1    10
2    18
dtype: int64)

Write a Python program to get the largest integer smaller or equal to the division of the inputs.

In [8]:
def smallestone(x,y):
    return(min(x) if min(x) < min(y) else min(y))
print(smallestone(ethan,aseries))

1

In [9]:
h =ethan.sort_values(ascending=False).reset_index()

In [10]:
del h['index']

In [11]:
h.squeeze()

0    3
1    2
2    1
Name: 0, dtype: int64

In [12]:
joined = ethan.append(h)

In [14]:
print(joined.reset_index(drop=True))

   0
0  1
1  2
2  3
3  3
4  2
5  1

In [16]:
joined.iloc[[0,1,2]]

   0
0  1
1  2
2  3

In [25]:
joined.columns

Int64Index([0], dtype='int64')

In [21]:
df = pd.DataFrame({'name':['conor','ethan','fred'],'age':[35,35,78],'good at gardening':[True,True,False]})

In [22]:
print(df)

    name  age  good at gardening
0  conor   35               True
1  ethan   35               True
2   fred   78              False

In [26]:
df2 = df.copy()

In [27]:
df2.columns

Index(['name', 'age', 'good at gardening'], dtype='object')

In [28]:
df2.columns = ['name', 'age2', 'gatg']

In [29]:
df2

    name  age2   gatg
0  conor    35   True
1  ethan    35   True
2   fred    78  False

In [33]:
df3 = pd.merge(df,df2,how='inner',left_on='age',right_on='age2')

In [34]:
df3

  name_x  age  good at gardening name_y  age2   gatg
0  conor   35               True  conor    35   True
1  conor   35               True  ethan    35   True
2  ethan   35               True  conor    35   True
3  ethan   35               True  ethan    35   True
4   fred   78              False   fred    78  False

In [35]:
help(df3.assign)

Help on method assign in module pandas.core.frame:

assign(**kwargs) method of pandas.core.frame.DataFrame instance
    Assign new columns to a DataFrame.

    Returns a new object with all original columns in addition to new ones.
    Existing columns that are re-assigned will be overwritten.

    Parameters
    ----------
    **kwargs : dict of {str: callable or Series}
        The column names are keywords. If the values are
        callable, they are computed on the DataFrame and
        assigned to the new columns. The callable must not
        change input DataFrame (though pandas doesn't check it).
        If the values are not callable, (e.g. a Series, scalar, or array),
        they are simply assigned.

    Returns
    -------
    DataFrame
        A new DataFrame with the new columns in addition to
        all the existing columns.

    Notes
    -----
    Assigning multiple columns within the same ``assign`` is possible.
    For Python 3.6 and above, later items in '\*\*kwargs' may refer to
    newly created or modified columns in 'df'; items are computed and
    assigned into 'df' in order.  For Python 3.5 and below, the order of
    keyword arguments is not specified, you cannot refer to newly created
    or modified columns. All items are computed first, and then assigned
    in alphabetical order.

    .. versionchanged :: 0.23.0

       Keyword argument order is maintained for Python 3.6 and later.

    Examples
    --------
    >>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
    ...                   index=['Portland', 'Berkeley'])
    >>> df
              temp_c
    Portland    17.0
    Berkeley    25.0

    Where the value is a callable, evaluated on `df`:

    >>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
              temp_c  temp_f
    Portland    17.0    62.6
    Berkeley    25.0    77.0

    Alternatively, the same behavior can be achieved by directly
    referencing an existing Series or sequence:

    >>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
              temp_c  temp_f
    Portland    17.0    62.6
    Berkeley    25.0    77.0

    In Python 3.6+, you can create multiple columns within the same assign
    where one of the columns depends on another one defined within the same
    assign:

    >>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
    ...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
              temp_c  temp_f  temp_k
    Portland    17.0    62.6  290.15
    Berkeley    25.0    77.0  298.15

In [40]:
df4 = df3.groupby(['name_x']).agg({'age':sum})

In [42]:
df4.columns

Index(['age'], dtype='object')

In [ ]:
df4[]